
/*************************************************************************************************************************
ADMIN STYLE 
*************************************************************************************************************************/
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}
body{
    font-family: 'Montserrat', sans-serif;;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: black;
}

img {
	width: 100%;
	height: auto;
}
.container{
    margin: 0 auto;
}

/****************************************************************************************************************************************************
****************************************************************************************************************************************************
                    HEADER
****************************************************************************************************************************************************
**********************************************************************************************************************/
/*.header {
    position: sticky;
    top: 0;
    background-color: #fff;
}*/

.header__title{
   display: inline-block; 
   font-family: 'Nothing You Could Do', cursive;
   font-size: 3rem;
   padding-left:2rem;
}

/****************************************************************************************************************
                   NAVBAR
**********************************************************************************************************************/

.navbar{
    position: fixed;
    z-index:15;
    top:0;
    right:0;
    padding-right:1rem;
    padding-left: 2rem;
    height: 100%;

    background-color:#c8dff7;

    transition: transform 0.6s ease-in-out;
    -webkit-transition: transform 0.6s ease-in-out;;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);

}

.navbar.open{
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li{
    padding: 0.8rem 0.2rem;
    text-align: right;
    margin-top:2rem;
}

.navbar li:first-child{
    margin-top:10rem;
}

.navbar li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.btn-navbar{
    position: fixed;
    top: 1.7em;
    right: 1em;
    z-index:20;
    cursor: pointer;
}


.bar{
    width: 2.5rem;
    height: .4rem;
    background-color: rgb(0, 0, 0) ;
    margin-top: 0.2em
}




.admin h2{
    font-size: 1.6rem;
}

.header__admin{
    position: static;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 20%, #E0C3FC 50%, #D9AFD9 52%, #8EC5FC 100%);
    }

.navbar_admin{
    margin-top: 10em;
    }

.navbar__admin li{
    margin-top: .2em;
    }

.navbar__admin li:first-child{
    margin-top: 0;
    }
.navbar__admin ul:first-child{
        margin-top: 5em;
        }

.navbar__admin h4{
    text-transform: uppercase;
}

.navbar__admin li a{

    text-transform: lowercase;
    letter-spacing: 0.3rem;
}

.btn--create{
    padding: 1em 0.5em;
    border-radius: 25% 10%;

    background-color: #A8CCE8;
    color: #2d2633;

    font-weight: bold;
    text-transform: uppercase;
}
.btn--edit .fas{
    position: static;
}

.content__header{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.content__header h2{
    text-transform: uppercase;
}
.content__admin{
    padding:1rem;
}

.table,
.table--responsive,
.table--responsive th,
.table--responsive tr,
.table--responsive td{

    border-collapse: collapse;

   
}
.table, th, td,
.table--responsive th,

.table--responsive td{
    border:rgb(0, 0, 0) 1px solid;
    text-align: center;
}

.table--responsive{
    display: flex;
}

.table--responsive th,
.table--responsive td{
    display: block;
}

@media only screen and (min-width: 1024px) {

    .admin {
        display: grid;
        grid-template-columns: 1fr 8fr;
    }
    
    .header__admin{
       grid-column-start: 1;
       grid-column-end: 3;
    }
    .navbar__admin{
        margin-left: 0;
        transition: none;
    }

    .navbar__admin ul{
        display: block;
    }

    .navbar__admin li{
        text-align: left;
        margin-top:1em;
    }
    .navbar__admin li:last-child{
        display: block;
    }

    .content__admin{
       margin: 1rem;
    }
    
    .table--responsive{
        display: table;
    }
    .table--responsive th, 
    .table--responsive td{
        display: table-cell;
    }

}