/**********************************************************
                        VARIABLES
**********************************************************/
:root{

   
    --font-body: 'Montserrat', sans-serif;
    --font-headerTitle: 'Nothing You Could Do', cursive;

    --size-text-md: 1.6rem;
    --size-headerTitle-sm: 3rem;
    --size-headerTitle-md: 4rem;
    --size-icon-sm: 2rem;
    --size-icon-md: 3rem;

    --size-title-2: 3rem;
    --size-title-3: 2rem;
    --size-text-sm: 1.4rem;
    --size-backTitle-md: 2.2rem;

    --line-height: 2rem;
    --letter-space-text: 0.1rem;
    --letter-space-btn: 0.4rem;
    --backcolor-header:#ffff;
    --backcolor-navbar: #c8dff7;
    --backcolor-btnNav: #000000;
    --backcolor-footer: linear-gradient(119deg, #dbe4ee 0%, #c5d7e8 19%, #c3d9e8 46%, #c9deee 69%, #d9e6ea 87%, #cee7e8 100%);

    --backcolor-btn: #6ea2bfc4;
    --backcolor-card: linear-gradient(62deg, #9bc9f8 0%, #e2caf8 100%);
    
    
    --color-btn-hover: #6ea2bfc4;
    --backcolor-btn-hover: #ffff;
    --color-link: #000000;
    --color-icon: #000000;
    --color-text-btn : #ffff;
    
    --shadow: 0 0 1em #707e8ba4;
    --shadow-card: 0 0 1em #5a89b6a4;

    --color-disabled: #808080;
    --backcolor-disabled: rgba(128, 128, 128, 0.178);
}


/********************************************************
                            GENERAL
*******************************************************/

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-body);
    font-size: var(--size-text-md);
}

a{
    text-decoration: none;
    color: var(--color-link);
}

img {
	width: 100%;
	height: auto;
}

.container{
    margin: 0 auto;
}



/****************************************************************************************************************************************************
****************************************************************************************************************************************************
                    HEADER
****************************************************************************************************************************************************
**********************************************************************************************************************/
.header {
    position: sticky;
    top: 0;
    z-index: 150;
    background-color: var(--backcolor-header);
    box-shadow: var(--shadow);
}

.header__title{
   display: inline-block;
   padding-left: 2rem; 
   font-family: var(--font-headerTitle);
   font-size: var(--size-headerTitle-sm);
}

@media screen and (min-width: 768px){
    .header__title{
        font-size: var(--size-headerTitle-md);
    }

}

@media only screen and (min-width: 960px){
    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
/****************************************************************************************************************
                   NAVBAR
**********************************************************************************************************************/

.navbar{
    position: fixed;
    z-index: 15;
    top: 0;
    right: 0;
    padding-right: 1rem;
    padding-left: 2rem;
    height: 100%;

    background-color: var(--backcolor-navbar);

    transition: transform 0.6s ease-in-out;
    -webkit-transition: transform 0.6s ease-in-out;;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.navbar.open{
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li{
    padding: 0.8rem 0.2rem;
    text-align: right;
    margin-top: 2rem;
}

.navbar li:first-child{
    margin-top: 10rem;
}

.navbar li.laptop{
    display: none;
}

.navbar li>a{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.navbar__btn{
    position: fixed;
    top: 1.7em;
    right: 1em;
    z-index: 20;
    cursor: pointer;
}

.btn__bar{
    width: 2.5rem;
    height: .4rem;
    margin-top: 0.2em;
    background-color: var(--backcolor-btnNav) ;
}

@media only screen and (min-width: 1280px){

    .navbar__btn,
    .navbar li:nth-child(7),
    .navbar li:nth-child(8),
    .navbar li:nth-child(9),
    .navbar li:last-child{
        display: none;
    }
    
    .navbar{
        position: static;
        transform: translateX(0);
        background-color: #ffffff;
        margin-left: 2em;
        transition: initial;
        width:70%;
    }

    .navbar ul{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
    }

    .navbar li{
        padding: 0 1rem;
    }
    
    .navbar li,
    .navbar li:first-child{
        margin-top: 0;
    }

    .navbar li.laptop{
        display: initial;
    }

}

/****************************************************************************************************************
                   ICON
**********************************************************************************************************************/

.icon{
    position: absolute;
    font-size: var(--size-icon-sm);
    color: var(--color-icon);
    cursor: pointer;
}

.icon--cart{
    top: 1.5em;
    right: 2.8em;
}

.icon--total::before{
    content: '(';
}

.icon--total::after{
    content: ')';
}

@media only screen and (min-width: 1280px){
    
    .icon{
        position: initial;
    }
    
    .icon--cart{
        margin-left: auto;
        margin-right: 2rem;
    }

    .icon--user{
        display: initial;
        top: 2em;
        right: 3.7em;
    }
}


/****************************************************************************************************************
                    BACKGROUND IMAGE
*********************************************************************************************************************/

.background{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url(../img/bg_header_small.png);
    background-repeat: no-repeat;
    background-size: 100vw auto;
    height: 80vh;
}

.background__title{  
    padding: 4rem 0rem;
    margin: 3rem;
    font-family: var(--font-headerTitle);
}

@media only screen and (min-width: 768px){
    .background{
        background-image: url(../img/bg_header_md.png);
        background-position: center;
    }

    .background__title{      
        margin: 10rem;
        font-size: var(--size-backTitle-md) ;
    }
}

@media only screen and (min-width: 960px){
    .background{
        background-image: url(../img/bg_header_md2.png);
    }
    .background__title{
        margin: 0;
    }
}

@media only screen and (min-width: 1024px){
    .background{
        background-image: url(../img/bg_header_lg.png);
        background-position: initial;
        background-size: cover;
        height: 78vh;
    }
}

/***********************************************************************************
                ARROW
***************************************************************************************/                
.arrow{
    text-align: center;
}

.arrow__bar,
.arrow__bar2{
    display: inline-block;
    width: 3rem;
    height: .1rem;
    background-color: var(--backcolor-btnNav) ;
}

.arrow__bar{
    transform: rotate(45deg);
}

.arrow__bar2{
    transform: rotate(-45deg);
}

@media only screen and (min-width: 768px){
    .arrow{
        padding-top: 2rem;
    }
}

/**********************************************************
                    MAIN SECTIONS
**********************************************************/
.main{
    font-size: var(--size-text-sm);
    letter-spacing: var(--letter-space-text);
    line-height: var(--line-height);
}

.main section{
    margin: 10rem 0;
    text-align: justify;
}

.main section h2::before,
.main section h2::after{
    content:".";
    padding: 0 2rem;
}

.main section h2{
    margin-bottom: 7rem;
    line-height: initial;
    text-align: center;
    font-size: var(--size-title-2);
    transform: rotate(-10deg);
}

.main section h2,
.team__element h3{
    font-family: var(--font-headerTitle);
}

.main section>article{
    margin: 5rem;
}

.main section h3,
.main section div{
    text-align: center;
}

.main section p{
    margin: 3rem;
}

.team__element{
    padding: 3rem 0;
}

.team__element div{
    position: relative;
    z-index:-10;
    margin: 4rem 8rem;
    padding: 10rem;
    border: 2px solid var(--backcolor-btn);
    transform: rotate(10deg);
}

.team__element img{
    position: absolute;
    right: 4rem;
    bottom: 4rem;
    width: 200px;
    border-radius: 50%;
    transform: rotate(-10deg);
}

.team__element h3{
    position: relative;
    right: 6rem;
    bottom: 2rem;
    z-index:-2;
    font-weight: bold;
}


/********* courses page ************/

.main .courses__details>article{
    margin: 7rem 2rem;
}

.main .courses__details h3{
    font-family: var(--font-headerTitle);
    font-size: var(--size-title-3);
}

/********** timetable page ***********/
.yogaclass__card{
    width: 70%;
    margin: 4rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(--shadow-card);
    background: var(--backcolor-card)
}

.main .yogaclass__card>p{
    margin: 0;
}

.main .yogaclass__card>p:first-of-type{
    font-weight: bold;
}

.main .yogaclass__card>p:last-of-type{
    margin-bottom: 1rem;
}

@media only screen and (min-width: 768px){
    .main{
        font-size: var(--size-text-md);
    }

    .main section{
        margin: 12rem 0;
    }

    .main section h2{
        font-size: calc(var(--size-title-2) * 1.5);
    }

    .main section p{
        margin: 5rem;
    }

    .main section article,
    .main section article>p{
        margin: 1rem;
        text-align: center;
    }

    .about{
        display: grid;
        grid-template-columns: 5% 30% 20% 30% 10% 5%;
        grid-template-rows: 1fr 200px 200px 100px;
        align-items: center;
    }

    .about h2,
    .about p{
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .about p+p{
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 3;
    }
    
    .about p:last-child{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
    }

    .courses__article{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 400px;
    }

    .courses__article article{
        width:30%;
    }
   
    .courses__article article:nth-of-type(2),
    .courses__article article:nth-of-type(0n+5){
        align-self: center;
    }

    .courses__article article:nth-of-type(3n){
        align-self: flex-end;
    }

    .team__element h3{
        right: 10rem;
        bottom: 16rem;
    }

    /******* courses page ******************/
    .main .courses__details>article{
        margin: 10rem;
    }

    .main .courses__details article p{
        text-align: justify;
    }
    .main .courses__details div{
        margin-top: 15rem;
    }


    /********** teacher page **********/

    .team__element.team--description{
        margin: 5rem 3rem;
    }
    
/********** timetable page ***********/
    .main .yogaclass{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin: 4rem auto;
    }

    .yogaclass>h2,
    .yogaclass>p{
        width:100%;
        text-align: center;
    }

    .yogaclass__card{
        width: 45%;
        margin: 4rem 1rem;
    }


}

@media only screen and (min-width: 960px){

    .main section{
        margin: 12rem;
    }

    /******* courses page *****************/
    .main .courses__details h3{
        font-size: var(--size-title-2);
    }

    .main .courses__details>article{
        margin: 12rem 8rem;
    }
}


@media only screen and (min-width: 1024px){

    /**** timetable page *****/
    .yogaclass__card {
        width: 30%;
        margin: 4rem;
    }
}

@media only screen and (min-width: 1280px){

    .main section{
        margin-left: 35rem;
        margin-right: 35rem;
    }

    /******* courses page *********************/
    .main .courses__details{
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .main .courses__details>article:nth-of-type(odd){
        margin-left: 15rem;
        margin-right: 55rem;
    }

    .main .courses__details>article:nth-of-type(even){
        margin-left: 55rem;
        margin-right: 15rem;
    }

    
    /********** teacher page **********/

    .team__element.team--description{
        padding-top: 5rem;
    }

    article.team__element{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    article.team__element>div{
        width:200px;
        height:200px;
        margin: 2rem;
    }
    
    article.team__element>h3{
        position: initial;
        width:50%;
    }

    article.team__element.team--description p{
       margin: 5rem;
    }

    /***** timetable page ****/
    .yogaclass__card {
        width: 25%;
    }

}

/*****************************************************************
                BUTTON
*******************************************************************/
.btn__container{
    padding: 5rem 0;
    text-align: center;
}

.btn{
    padding: 1rem 2rem;
    color: var(--color-text-btn);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: var(--letter-space-btn);
    background-color: var(--backcolor-btn);
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

.btn:hover{
    color: var(--color-btn-hover);
    font-weight: bold;
    background-color: var(--backcolor-btn-hover);
    border:1.5px solid var(--color-btn-hover);
}

.disabled,
.btn.disabled:hover{
    color: var(--color-disabled);
    border: var(--color-disabled);
    background-color: var(--backcolor-disabled);
}

.btn--team{
    position: relative;
    bottom: 4rem;
}

/****************************************************************************************************************
                                FOOTER
*************************************************************************************************************/

.footer{
    text-align: center;
    font-size: var(--size-text-sm);
    background: var(--backcolor-footer);   
    box-shadow: var(--shadow);
}

.footer h3{
    font-weight: normal;
}

 .footer__social{
    padding: 2rem;
} 

.footer__social a{
    margin: 1rem;
    padding: 1rem;
    font-size: var(--size-icon-sm);   
}

.footer__contact div{
    padding-bottom: 2rem;
}

.footer h3::before,
.footer h3::after
{
    content: ".";
    font-size: 2rem;
    padding: 0 1rem;
}

@media only screen and (min-width: 768px){
    .footer{
        font-size: var(--size-text-md);
    }
}

@media only screen and (min-width: 960px){
    .footer,
    .footer__social,
    .footer__contact,
    .footer__social div{
        display: flex;     
    }

    .footer,
    .footer__contact{
        justify-content: space-around;
    }

    .footer__social{
        width: 30%;
        padding: 4rem;
    }

    .footer__social div{
        flex-wrap: wrap;
        padding: 1rem;   
    } 

    .footer__social h3{
        writing-mode: vertical-rl;
        text-orientation: upright;
    } 

    .footer__social a{
        width: 100%;
        font-size: var(--size-icon-md);    
    }

    .footer__contact{
        width: 70%;
        padding: 4rem;
    }

    .footer__contact div:nth-of-type(2){
        align-self: center;
    }
    
    .footer__contact div:last-of-type{
       align-self: flex-end;
    }

/***************************************************************



****************************************************************/

.timetable div{
    display: flex;
}

.hidden{
    display: none; 
}

.cart ul{
    list-style-type: none;
}

.table,
.table--responsive,
.table--responsive th,
.table--responsive tr,
.table--responsive td{

    border: none;
    padding: 4em 0;
    margin: 0 auto;

}
.table button{
    border: 1px solid rgb(168, 164, 164);
    background-color: #fff;
    border-radius: 20px;
    padding: 0.5em 1em;
    cursor: pointer;
}

.table tbody{
    display: flex;
    flex-wrap: wrap;
}

.table tr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding-left: 2em;
    padding-bottom: 2em;
}

.table td:first-child{
    text-align: left;
}


/*********************************************************************************************************
FORM
****************************************************************************************************/

label,
input{
    display: block;
}

input{
    border-radius:0.2em;
    border: 1px solid rgb(212, 212, 212);
    padding: 0.5em 1em;
    font-size: 1.6rem;
    color:rgb(8, 67, 71);

}

input:focus{
    outline-color: rgba(10, 87, 92, 0.425);
}

.error-input{
    
    background-color: rgb(235, 173, 173);
    border: 1px solid rgb(240, 137, 137);
}

.form-error{
    font-weight: bold;
    font-size: 1rem;
    color: rgb(247, 41, 41);
    line-height: normal;
    letter-spacing: normal;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {

    .table td{
        padding: 1em 2em;

    }
    .table td:first-child{
        text-align: left;
    }

}
















@media only screen and (min-width: 1024px) {

    .form-error{
        font-size: 1.2rem;
    }
    .field{
        text-align: left;
        background-color: #fff;
        margin: 1em 
    }
    .form{
        width:20%;
        margin: 0 auto;
        text-align: left;
    }
    .form fieldset{
        border: none;
        margin: 0 auto;
        
    }
    label{
        margin-right: 2em;
    }
    input{

        width:100%;
    }
}}